.MainPageHead {
  text-align: center;
  background-color: Yellow;
  border-top: 1px solid black ;
  border-bottom: 15px solid black ;
  border-left: 15px solid black ;
  border-right: 15px solid black ;
}

.NavLinks
{
  margin: 10em;
  padding-left: 20px;
}

.NavImage
{
  float: left;
  width: auto;
  height: auto;
  max-width: 14%;
  margin-left: 20px;
  background-color: black;
  padding: 5px;

}


.NavImageTwo
{
  float: right;
  width: auto;
  height: auto;
  max-width: 12.5%;
  margin-right: 20px;
  background-color: black;
  padding: 5px;
}
.swfLogo
{
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  margin: 15px;
}

.AboutMe
{
  text-align: center;
  background-color: yellow;
  padding: 20px;
  border-bottom: 15px solid black ;
  border-left: 15px solid black ;
  border-right: 15px solid black ;
}
.BottomPage
{
  text-align: center;
  padding-top: 250px;
  padding-bottom: 82px;
  background-color: yellow;
  border-bottom: 15px solid black ;
  border-left: 15px solid black ;
  border-right: 15px solid black ;
}
.LoginImg
{
  width: 35%;
  height: 35%;
  background-color: yellow;
  padding: 50px;
  /*background-color: black;*/
}

.LoginPageInput
{
  text-align: center;
  margin-top: 100px;

}
.LoginPageInput input
{
  height:25px;
  font-size:19pt;
  margin-top: 25px;
  margin-left: 25px;
}
.LoginPage{
  background-color: rgba(255,255,50,0.65);

}
.LoginStatus{
  text-align: center;
  padding: 5px;
  background-color: black;
  color: yellow;
}

.SeeAllTM
{
  background-color: rgba(255,255,50,0.65);
}



